.calc{
    width: 400px;
    height: 399px;
    background: grey;
    margin-left: 461px;
    border: 2px solid blue;
    margin-top: 39px;
}
#screen{
    width: 82%;
    margin-left: 31px;
    height: 49px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 56px;
    height: 41px;
    margin-left: 31px;
    margin-top: 17px;
    background: bisque;
}
.btnslide{
    width: 56px;
    height: 41px;
    margin-left: 31px;
    background: bisque;
    margin-top: 17px;

}